__pycache__/
test.ipynb
nohup.out
*.png
pickled_data
*.txt
*.html
*.mp4
nexullance/*.ipynb
# nexullance/Cut_Euler_uniform.py
archive/
LF_archive/
nexullance/bin
nexullance/profiling/**.csv
nexullance/profiling/**.pkl
# *.csv

# white listing
!nexullance/*.ipynb