__pycache__/
test.ipynb
nohup.out
*.png
pickled_data
*.txt
*.html
*.mp4
nexullance/*.ipynb
archive/
LF_archive/
nexullance/bin
# *.csv
*.graphml
*.austin
bin/
./nexullance/IT_boost-bak/
test_sst/
.vscode/

# white listing
!nexullance/*.ipynb
!test_Nexullance_MMR/*.csv